# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
typings/

.vs/
acorn
acorn.cmd
atob
atob.cmd
autoprefixer-info
autoprefixer-info.cmd
browserslist
browserslist.cmd
build-optimizer
build-optimizer.cmd
create
create.cmd
errno
errno.cmd
esparse
esparse.cmd
esvalidate
esvalidate.cmd
har-validator
har-validator.cmd
in-install
in-install.cmd
in-publish
in-publish.cmd
ionic-app-scripts
ionic-app-scripts.cmd
js-yaml
js-yaml.cmd
json5
json5.cmd
miller-rabin
miller-rabin.cmd
mime
mime.cmd
mkdirp
mkdirp.cmd
ng-xi18n
ng-xi18n.cmd
ngc
ngc.cmd
node-gyp
node-gyp.cmd
node-sass
node-sass.cmd
nopt
nopt.cmd
not-in-install
not-in-install.cmd
not-in-publish
not-in-publish.cmd
purify
purify.cmd
rimraf
rimraf.cmd
rollup
rollup.cmd
sassgraph
sassgraph.cmd
semver
semver.cmd
sha.js
sha.js.cmd
sshpk-conv
sshpk-conv.cmd
sshpk-sign
sshpk-sign.cmd
sshpk-verify
sshpk-verify.cmd
strip-indent
strip-indent.cmd
tsc
tsc.cmd
tsickle
tsickle.cmd
tslint
tslint.cmd
tsserver
tsserver.cmd
uglifyjs
uglifyjs.cmd
uuid
uuid.cmd
webpack
webpack.cmd
which
which.cmd